/* :root untuk mendefinisikan variabel */
:root {
  --kuning-terang: #f5eec2;
  --hijau-gelap: #416a59;
  --biru-gelap: #39395f;
  --hijau-terang: #73a24e;
  --hijau-olive: #a9c25d;
}

/* Reset dan Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Menetapkan font Poppins sebagai font utama */
}

body {
  font-family: 'Poppins', sans-serif; /* Memastikan seluruh body menggunakan font Poppins */
  background-color: var(--kuning-terang); /* Gunakan warna light yellow untuk latar belakang */
}

body, html {
  height: 100%; /* Pastikan body dan html mengisi seluruh tinggi layar */
  margin: 0; /* Menghapus margin default */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pastikan wrapper mencakup seluruh tinggi halaman */
}

.content {
  flex-grow: 1; /* Konten akan mengisi ruang vertikal yang tersedia */
}
