@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.bubble-sort-container {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 120px;
  background: #dbe8f5;
  color: #2d3436;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin: 20px 0;
}

.input-container input {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 15px;
  border: none;
  background: #75B9BE;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.input-container button:hover {
  background: linear-gradient(45deg, #74b9ff, #a29bfe);
}

.number-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  flex-wrap: wrap;
}

.number {
  background: #ffeaa7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  transition: transform 0.2s, background-color 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 50px;
}

.number:not(.sorted):hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.number.highlighted {
  background-color: #74b9ff;
  color: white;
  cursor: grab;
  animation: highlight-pulse 1s infinite;
}

.number.sorted {
  background-color: #28a745;
  color: white;
  cursor: default;
}

.status-text {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.1em;
  color: #d63031;
  text-align: center;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
}

.controls button {
  padding: 8px 15px;
  background: #d7327a;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.controls button:hover:not(:disabled) {
  background: #e35593;
}

.controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@keyframes highlight-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Responsiveness */
@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    gap: 0.5rem;
  }

  .controls button {
    width: 100%;
  }

  .number {
    padding: 10px;
    font-size: 1rem;
    width: 40px;
  }
}

@media (max-width: 480px) {
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input-container input,
  .input-container button {
    width: 100%;
    margin: 0;
  }

  .number {
    padding: 8px;
    font-size: 0.9rem;
    width: 35px;
  }
}