/* Features Section */
.features {
    background-color: var(--biru-gelap); /* Menggunakan warna biru gelap */
    height: 100vh;
    display: flex;
    justify-content: flex-end; /* Konten di mulai dari kanan */
    align-items: center; /* Vertikal tengah */
    text-align: left; /* Teks rata kanan */
    padding-right: 1%; /* Memberikan padding kanan yang cukup untuk memisahkan konten dari tepi */
    position: relative;
    overflow: hidden; /* Mencegah konten meluap keluar */
    background-image: url('/src/img/featuresection.svg'); /* Gambar latar */
    background-size: cover;
    background-position: center center;
}

.features-content {
    max-width: 600px; /* Mengatur lebar maksimum konten */
    padding: 40px; /* Padding untuk memberi ruang sekitar teks */
}

.features-title {
    color: var(--kuning-terang); /* Warna teks */
    font-style: bold; /* Teks tebal */
    font-family: Poppins, sans-serif; /* Menggunakan font Poppins */
    font-size: 3rem; /* Ukuran font untuk judul */
    margin-bottom: 20px; /* Memberikan ruang di bawah judul */
}

.features-description {
    font-family: Poppins, sans-serif; /* Menggunakan font Poppins */
    font-size: 1.25rem; /* Ukuran font untuk deskripsi */
    color: #fff;
    margin-bottom: 30px; /* Memberikan ruang di bawah deskripsi */
}
